<!DOCTYPE html>
<html>
    <head>
        <style>
            form {
                background-color: #eee;
                padding: 20px;
                margin: 0 auto;
                width: 540px;
                font: 16px sans-serif;
                border-radius: 10px;
            }
            textarea {
                margin: 10px 0;
                width: 540px;
                height: 120px;
            }
        </style>
    </head>
    <body>
        <form>
            <div>
                Rotate by: <input type="text" name="rot" value={{result_rot}}>
                <textarea type="text" name="text" placeholder="Type Here">{{result_text}}</textarea>
                <input type="submit" value="Submit Query">
            </div>
        </form>
    </body>
</html>
